@first_theme: #652;
@2nd_theme: #878;

html {font-size: 1.1rem}
* {margin: 0; padding: 0}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}

a {
  text-decoration: none;
  color: greenyellow;
}
button {
  background-color: @first_theme;
  color: greenyellow;


}

header {
  width: 100%;
  min-height: 30px;
  background-color: @first_theme;

  h1 {
    text-align: center;
  }

  ul {
    display: inline;
    text-align: right;

    li {
      list-style-type: none;
      margin: 0 2px;

      a {
        padding: 2px 5px;
      }

    }
  }
}

aside {
  width: 200px;
  margin: 20px 10px;
  float: left;

  #side-menu {
    padding: 10px 20px;
    background-color: #c8ccbe;

    button {
      display: block;
      margin: 10px 0;
      background-color: #efe2e4;
      border-color: #efe2e4;
      color: #2c2128;
    }
  }
}

#body {
  margin: auto;
  width: 600px;

  background-color: @2nd_theme;
}

footer {
  padding: 10px 2px;
  //position: fixed;
  //bottom: 0;

  background-color: #ffcd39;
  text-align: right;
}

.table-default {
  display: none;

  .table-header {
  }
}
.modal {
  .modal-header {
    button {
      background-color: transparent;
      color: black;

      display: inline-flex;
    }
  }
}